.game-component {
  width: 100%;
  text-align: center;
}

.game-component__canvas {
  margin: 20px;
  width: 1024px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}